<div class="container">
    <div class="bd-example">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th *ngIf="!isAllChecked">
                        <button type="button" class="btn btn-sm pull-left" (click)="checkUncheckAll()"><i class="fal fa-square"></i></button>
                    </th>
                    <th *ngIf="isAllChecked">
                        <button type="button" class="btn btn-sm" (click)="checkUncheckAll()"><i class="fal fa-check-square"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                    <th>{{item.id}}</th>
                    <th>{{item.name}}</th>
                    <th>{{item.price}}</th>
                    <th *ngIf="!item.isChecked">
                        <button type="button" class="btn btn-sm pull-left" (click)="isSelected(item)"><i class="fal fa-square"></i></button>
                    </th>
                    <th *ngIf="item.isChecked">
                        <button type="button" class="btn btn-sm" (click)="isSelected(item)"><i class="fal fa-check-square"></i></button>
                    </th>
                </tr>
            </tbody>

            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        </table>
    </div>
</div>